{
  "presets": ["es2015", "stage-0"],
  "env": {
    "EXAMPLES_LIB": {
      "plugins": [
        ["./lib/plugin.js", {"config": "./examples_webpack_configs/lib.webpack.config.js"}]
      ]
    },
    "EXAMPLES_RUN": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "./examples_webpack_configs/run.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    },
    "TEST": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "./test/runtime.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    },
    "AVA_TEST": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "${CONFIG}",
            "verbose": false
          }
        ]
      ]
    },
    "TEST_BABEL": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "./test/runtime.webpack.config.babel.js",
            "verbose": false
          }
        ]
      ]
    },
    "DYNAMIC_CONFIG_TEST": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "${CONFIG}",
            "verbose": false
          }
        ]
      ]
    }
  }
}
