{
  "presets": ["es2015"],
  "env": {
    "EXAMPLES_LIB": {
      "plugins": [
        ["./lib/plugin.js", {"config": "./examples_webpack_configs/webpack.config.js"}]
      ]
    },
    "EXAMPLES_RUN": {
      "plugins": [
        [
          "./lib/plugin.js",
          {
            "config": "./examples_webpack_configs/run.webpack.config.js",
            "verbose": false,
          }
        ]
      ]
    }
  }
}
