{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-nested-ternary": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
  }
}
